@model IEnumerable<BirdSing.Models.Grupo>

@{
    Layout = "_LayoutAdmin";
}

<h2>Lista de Grupos</h2>

<table class="table">
    <thead>
        <tr>
            <th>Grado</th>
            <th>Grupo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var grupo in Model)
        {
            <tr>
                <td>@grupo.Grado.Grados</td>
                <td>@grupo.Grupos</td>
                <td>
                    <a asp-action="ActualizarGrupo" asp-route-id="@grupo.IdGrupo" class="btn btn-link">Actualizar</a>

                    <form asp-action="EliminarGrupo" asp-route-id="@grupo.IdGrupo" method="post" style="display:inline-block" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este grupo?')">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-link text-danger p-0 m-0 align-baseline">Eliminar</button>
                    </form>
                </td>
            </tr>

        }
    </tbody>
</table>
<a asp-action="RegistroGrupo">Registrar Nuevo Grupo</a>