@model IEnumerable<BirdSing.Models.Tutor>

@{
    Layout = "_LayoutAdmin";
}

<link rel="stylesheet" href="~/css/ListaT.css">

<h2>Lista de Tutores</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nombre del Usuario</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tutor in Model)
        {
            <tr>
                <td>@tutor.Usuario.NombreUsuario</td>
                <td>@tutor.Usuario.ApellidoPaterno</td>
                <td>@tutor.Usuario.ApellidoMaterno</td>
                <td>@tutor.Usuario.Email</td>
                <td>@tutor.Telefono</td>
                <td>@tutor.Direccion</td>
                <td>
                    <a asp-action="ActualizarTutor" asp-route-id="@tutor.IdTutor">Actualizar</a>
                    <a asp-action="EliminarTutor" asp-route-id="@tutor.IdTutor" onclick="return confirm('¿Estás seguro de que deseas eliminar este tutor?');">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>